<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>

<body>
    <h1><%= title %></h1>
    <img src="img/logo.jpg" alt="Our First Maserati"></img>

    <div ng-repeat="restaurant in restaurants">
  	{{restaurant.name}}
	</div>



</body>
</html>